<%= scrivito_details_for t('scrivito_highlightjs_widget.details.code', default: 'Code') do %>
  <pre class="highlightjs">
    <%= scrivito_tag(:textarea, widget, :code, class: 'form-control', rows: 5) %>
  </pre>
<% end %>

<%= scrivito_details_for t('scrivito_highlightjs_widget.details.language', default: 'Language') do %>
  <div class="alert alert-info">
    <%= t('scrivito_highlightjs_widget.thumbnail.hint', default: 'If the automatic code highlighting does not work for you.') %>
  </div>
  <div class="alert alert-info">
    <%= t('scrivito_highlightjs_widget.thumbnail.no_highlight', default: 'Enter nohighligh if no highlighting needed.') %>
  </div>
  <%= scrivito_tag(:div, widget, :language) %>
<% end %>
